.camera-container{

    border-radius:20px;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background: #07111f;

}

.camera-feed{

    width: 50vw;
    object-fit:cover;
    border-radius:30px;

}