.camera-container{

    border-radius:20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background: #07111f;

}

.camera-feed{

    width: 50%;
    object-fit:cover;
    border-radius:20px;

}

@media screen and (max-width: 600px) {
  .camera-container {
    width: 100%;
    height: 60vh;
  }
  .camera-feed{
    width: 90%;
  }
}
